<div class="container">
    <form [formGroup]="articleForm">
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input 
                type="text" 
                class="form-control"
                formControlName="title"
                >
                <div *ngIf="articleForm.get('title')?.invalid && articleForm.get('title')?.dirty || articleForm.get('title')?.touched">
                    <small *ngIf="articleForm.get('title')?.hasError('required')" class="text-danger">This field is required</small>
                </div>    
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input 
                type="text" 
                class="form-control"
                formControlName="description"
                >
                <div *ngIf="articleForm.get('description')?.invalid && articleForm.get('description')?.dirty || articleForm.get('description')?.touched">
                    <small *ngIf="articleForm.get('description')?.hasError('required')" class="text-danger">This field is required</small>
                </div>    
        </div>
        <div class="mb-3">
            <label class="form-label">Body</label>
            <input 
                type="text" 
                class="form-control"
                formControlName="body"
                >
                <div *ngIf="articleForm.get('body')?.invalid && articleForm.get('body')?.dirty || articleForm.get('body')?.touched">
                    <small *ngIf="articleForm.get('body')?.hasError('required')" class="text-danger">This field is required</small>
                </div>    
        </div>

        <div class="mb-3" style="display: flex; gap: 10px">
            <button 
                class="btn btn-primary" 
                type="submit" 
                [disabled]="articleForm.invalid"
                (click)="submitForm($event)"
            >Submit</button>
        </div>
    </form>
</div>
